<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>
    MP COMPANY
  </title>

  {% load static %}

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  <script type="text/javascript">
    window.onload=function(){//from ww  w . j  a  va2s. c  o  m
var today = new Date().toISOString().split('T')[0];
document.getElementsByName("setTodaysDate")[0].setAttribute('min', today);
document.getElementsByName("setTodaysDate1")[0].setAttribute('min', today);

    }


      </script>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index" >
            <img src="{% static 'images/MPLOGO.png' %}" alt="" />
          </a>
           <h3>MP COMPANY</h3>
        </nav>
      </div>
    </header>
  </div>


<section class="contact_section ">
    <div class="container px-0">
      <div class="heading_container ">
        <h2 class="">
          B<span>OO</span>KING
        </h2>
      </div>
    </div>
    <div class="container container-bg">
      <div class="row">
        <div class="col-lg-7 col-md-6 px-0">
          </div>
        </div>
        <div class="col-md-6 col-lg-5 px-0">
          <form action="" method="post">
            {% csrf_token %}
            <div>
              <input type="text" placeholder="Clint Name" name="name"/>
            </div>
            <div>
              <input type="email" placeholder="Email" name="email"/>
            </div>
            <div>
              <input type="text" placeholder="Phone" name="phone" maxlength="10"/>
            </div>
            <div>
              <input type="text"  placeholder="Event" name="event" value="{{d1.eventname}}" readonly/>
            </div>
             <div>
              <input type="text"  placeholder="venue" name="venue"/>
            </div>
            <div>
              <p>from date</p>
              <input type="date" placeholder="Date_from" name="setTodaysDate"/>
            </div>
            <div>
              <p>to date</p>
              <input type="date" placeholder="Date_to" name="setTodaysDate1"/>
            </div>
            <div class="col-md-6 col-lg-1 px-1">
              <input type="checkbox" name="n1" value="transport"/>Transport
              <input type="checkbox" name="n1" value="food"/>Food
              <input type="checkbox" name="n1" value="photo"/>Photo
              <input type="checkbox" name="n1" value="video"/>Video
            </div>

            <div class="d-flex ">
              <button type="submit">
                BOOK
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>



<!-- info section -->

  <section class="info_section  layout_padding2-top">

    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>
              ABOUT US
            </h6>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              Instagram
            </h6>
            <div class="social_container">
            <div class="social_box">
              <a href="">
                <img src="{% static 'images/fb.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/linkedin.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/youtube.png' %}" alt="">
              </a>
            </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              NEED HELP
            </h6>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              CONTACT US
            </h6>

            <div class="info_link-box">
              <a href="">
                <img src="{% static 'images/location.png' %}" alt="">
                <span> MP COMPANY<br>
                  Pazhayrikandom PO<br>
                  Idukki,Kerala
                </span>
              </a>
              <a href="">
                <img src="{% static 'images/call.png' %}" alt="">
                <span>+91 8891576025</span>
              </a>
              <a href="">
                <img src="{% static 'images/mail.png' %}" alt="">
                <span> mpcompany10@gmail.com</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section -->
    <section class=" footer_section">
      <div class="container">
      </div>
    </section>
    <!-- footer section -->

  </section>

  <!-- end info section -->


  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

</body>

</html>